In [1]:
import pandas as pd

In [16]:
start = "20240101"
# start = "01/01/2024"
serie = pd.date_range(start, periods=7, freq ='D')
serie

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07'],
              dtype='datetime64[ns]', freq='D')

In [15]:
start = "01/01/2024"
serie = pd.date_range(start, periods=7, freq ='D')
serie

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07'],
              dtype='datetime64[ns]', freq='D')

In [52]:
primera_semana_2024 = pd.date_range("20240101",periods=7,freq="D")

In [61]:
df = pd.DataFrame({"fecha":['2024-01-01', '2024-02-14', '2024-03-01']})
df

        fecha
0  2024-01-01
1  2024-02-14
2  2024-03-01

In [69]:
df["fecha"] = pd.to_datetime(df["fecha"],format="%Y-%m-%d").dt.strftime("%d/%m/%Y")

In [70]:
df

        fecha
0  01/01/2024
1  14/02/2024
2  01/03/2024

In [81]:
df = pd.DataFrame({"fecha":['01-01-2024', '14-02-2024', '01-03-2024']})
df

        fecha
0  01-01-2024
1  14-02-2024
2  01-03-2024

In [82]:
df["fecha"] = pd.to_datetime(df["fecha"],format="%d-%m-%Y") + pd.Timedelta(days=5)

In [85]:
df["fecha"] = df["fecha"].dt.strftime("%d/%m/%Y")

In [105]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12],
    'D': [13, 14, 15, 16]
})

In [117]:
df

   A  B   C   D
0  1  5   9  13
1  2  6  10  14
2  3  7  11  15
3  4  8  12  16

In [ ]:
df.to_excel)

In [118]:
data = {
    'Fecha': ['2024-03-19', '2024-03-20', '2024-03-21', '2024-03-22', '2024-03-23', '2024-03-24'],
    'Producto': ['Manzanas', 'Peras', 'Naranjas', 'Plátanos', 'Uvas', 'Melocotones'],
    'Cantidad': [23, 15, 18, 30, 8, 20],
    'Precio': [1.2, 1.5, 1.0, 0.8, 2.0, 1.7]
}

df_ventas = pd.DataFrame(data)
df_ventas["Precio_Total"] = df_ventas["Precio"]*df_ventas["Cantidad"]

In [119]:
df_ventas

        Fecha     Producto  Cantidad  Precio  Precio_Total
0  2024-03-19     Manzanas        23     1.2          27.6
1  2024-03-20        Peras        15     1.5          22.5
2  2024-03-21     Naranjas        18     1.0          18.0
3  2024-03-22     Plátanos        30     0.8          24.0
4  2024-03-23         Uvas         8     2.0          16.0
5  2024-03-24  Melocotones        20     1.7          34.0