In [8]:
import pandas as pd
serie1 = pd.Series([1,2,3])
serie2 = pd.Series([3,2,1])
serie_sumada = serie1 + serie2

In [9]:
serie_sumada

0    4
1    4
2    4
dtype: int64

In [13]:
serie_grande = pd.Series(list(range(1,11)))
serie_grande[8]**(1/2)

3.0

In [40]:
data = {"Id_producto": [1001, 1002, 1003, 1003],
        "Cantidad_vendida": [30, None, 25, 25],
        "Precio": [20.5, 15.0, None, 22.5]}
df = pd.DataFrame(data)
print(df)

   Id_producto  Cantidad_vendida  Precio
0         1001              30.0    20.5
1         1002               NaN    15.0
2         1003              25.0     NaN
3         1003              25.0    22.5

In [62]:
df.isna().sum()

Id_producto         0
Cantidad_vendida    1
Precio              1
dtype: int64

In [47]:
df.drop_duplicates

[0, 1, 'hola', 3]

In [55]:
pd.Series().

ValueError: Lengths must be equal

In [65]:
data = {
    'ID': [1, 2, 3, 4],
    'Producto': ['Producto A', 'Producto B', 'Producto C', 'Producto D'],
    'Cantidad': [10, 20, 30, 40],
    'Precio': [100, None, 300, None]
}

df = pd.DataFrame(data)
nuevos_valores = {"Precio":df["Precio"].mean()}

In [67]:
serie_numeros = pd.Series(list(1,21))
filtro = serie_numeros > 10
filtrado = serie_numeros[filtro]

TypeError: list expected at most 1 argument, got 2

In [70]:
frutas = pd.Series(["manzana", "banana", "cereza", "durazno", "frambuesa"])
frutas_con_e = frutas.str.contains("e")
solucion = frutas[frutas_con_e]

In [71]:
solucion

2       cereza
4    frambuesa
dtype: object

In [72]:
ventas = [120, 150, 90, 200, 210, 130, 160]
indices = ["Lunes","Martes","Miercoles","Jueves","Viernes","Sabado","Domingo"]

serie = pd.Series(ventas,indices)
suma_total_ventas = serie.sum()
print(suma_total_ventas)

1060

In [77]:

dia_mayores_ventas = serie.max()
serie[serie==dia_mayores_ventas]

Viernes    210
dtype: int64

In [ ]:

promedio_ventas = serie.mean()
print(promedio_ventas)