# Proyecto del Día 7 - Analizador de Ventas

### Objetivo
Crear un programa en Python que analice un conjunto de **datos de ventas de una tienda**. El programa debe realizar varias operaciones de Data Science para proporcionar información valiosa sobre las ventas de la tienda.

### Consigna

1. **Lectura de Datos**: Crea un DataFrame que contenga los datos provistos en el archivo **Datos_Ventas_Tienda.csv** provisto en esta lección. El archivo incluirá información como *fecha de venta*, *categoría de producto*, *cantidad vendida* y *precio*.
2. **Fusión de Datos**: Crea un segundo DataFrame que contenga los datos del archivo **Datos_Ventas_Tienda2.csv** (también provisto en esta lección), y concaténalos para tener un solo dataFrame con toda la información.

3. **Tratamiento de Datos**: Utiliza Pandas para manipular estos datos. Deberás realizar tareas como limpieza de datos, filtrado y  transformaciones básicas.
4. **Análisis de Ventas**: Realiza análisis para responder preguntas como:
- ¿Cuál es el producto más vendido?
- ¿Cuál es el mes con más ventas?
5. **Datos Agrupados**: Agrupa los datos por categoría de producto y analiza las ventas por categoría.
6. **Guardar Resultados**: Al final, guarda el DataFrame completo (incluyendo la columna de meses) en un archivo .csv en tu ordenador.

In [1]:
import pandas as pd
df1 = pd.read_csv('Datos_Ventas_Tienda.csv')
df2 = pd.read_csv('Datos_Ventas_Tienda2.csv')

In [37]:
df = pd.concat([df1,df2],ignore_index=True)
df

          Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0     1/17/2023  Electrónic         7              200         1400
1      9/1/2023  Electrónic         8              200         1600
2     7/29/2023    Juguetes         3               30           90
3     10/4/2023   Alimentos         4               10           40
4     2/28/2023  Electrónic         6              200         1200
...         ...         ...       ...              ...          ...
1045  9/11/2023    Juguetes        10               30          300
1046   1/3/2023    Juguetes        10               30          300
1047  11/7/2023   Alimentos         3               10           30
1048  8/20/2023  Electrónic         6              200         1200
1049  7/21/2023    Juguetes         3               30           90

[1050 rows x 5 columns]

In [38]:
df["Fecha"] = pd.to_datetime(df["Fecha"],format="%m/%d/%Y")

In [88]:
df["Año"] = df["Fecha"].dt.strftime("%Y").astype(int)
df["Mes"] = df["Fecha"].dt.strftime("%m").astype(int)

In [64]:
df_agrupado_por_producto = df.groupby("Producto")

In [140]:
#¿Cuál es el producto más vendido?
productos_mas_vendidos = df_agrupado_por_producto["Cantidad"].sum().sort_values(ascending=False)
productos_mas_vendidos
producto_mas_vendido = productos_mas_vendidos.idxmax()
cantidad_maxima = productos_mas_vendidos.max()
print(f"El producto más vendido es {producto_mas_vendido}. Se vendieron {cantidad_maxima} piezas de este producto")

El producto más vendido es Alimentos. Se vendieron 1262 piezas de este producto

In [156]:
#¿Cuál es el mes con más ventas?
df_agrupado_por_mes =  df.groupby(["Año","Mes"])
suma_de_ventas_por_mes = df_agrupado_por_mes["Total Venta"].sum().sort_values(ascending=False)
suma_de_cantidad_por_mes = df_agrupado_por_mes["Cantidad"].sum().sort_values(ascending=False)
mes_de_mas_ventas = suma_de_ventas_por_mes.idxmax()
total_vendido = suma_de_ventas_por_mes.max()
total_cantidad = suma_de_cantidad_por_mes.max()
print(f"El máximo de ventas fue durante el año {mes_de_mas_ventas[0]} en el mes de {mes_de_mas_ventas[1]}. Se vendieron {total_cantidad} piezas y se generó un total de {total_vendido} pesos")

El máximo de ventas fue durante el año 2023 en el mes de 8. Se vendieron 669 piezas y se generó un total de 45090 pesos

In [178]:
#5. **Datos Agrupados**: Agrupa los datos por categoría de producto y analiza las ventas por categoría.
serie_total_venta = df_agrupado_por_producto["Total Venta"].sum()
serie_cantidad = df_agrupado_por_producto["Cantidad"].sum()
serie_precio_unitario = df_agrupado_por_producto["Precio Unitario"].mean()

Producto
Alimentos     1262
Electrónic    1220
Juguetes      1113
Libros        1042
Ropa          1128
Name: Cantidad, dtype: int64

In [203]:
df_resumen = pd.DataFrame({})
df_resumen["Sum Total Venta"] = serie_total_venta
df_resumen["Sum Cantidad"] = serie_cantidad
df_resumen["Mean Precio Unitario"] = serie_precio_unitario
df_resumen = df_resumen.reset_index()

In [206]:
#6. **Guardar Resultados**: Al final, guarda el DataFrame completo (incluyendo la columna de meses) en un archivo .csv en tu ordenador.
df_resumen.to_csv('Resumen_ventas.csv',index=False)

In [207]:
df_resumen.to_excel('Resumen_ventas.xlsx',index=False)