In [6]:
import pandas as pd
import numpy as np

In [24]:

data = {
    'nombre': ['Juan Pérez', 'Ana López', 'María García', 'Luis Martínez', 'Carmen Rodríguez'],
    'correo': ['juan@example.com', 'ana@example.com', 'maria@example.com', 'luis@example.com', 'carmen@example.com'],
    'ubicacion': ['Ciudad A', 'Ciudad A', 'Ciudad C', 'Ciudad C', 'Ciudad A']
}

df = pd.DataFrame(data)

In [23]:
df.drop(["nombre","correo"], axis=1, inplace=True)

In [8]:
np.random.rand(5,5)

array([[-0.44253874,  1.0621167 , -0.37414487, -0.31712291,  0.62351048],
       [-0.99138509,  0.80815432,  0.81893818,  0.14674759, -2.13493021],
       [ 0.28515097,  0.50235695, -1.02865932,  0.07216913,  0.16490093],
       [-2.1638946 , -0.85893069, -1.26246522, -1.54991454,  0.76461634],
       [ 1.37644807, -0.82330919,  1.34796658, -0.69700942, -1.68546004]])

In [17]:
np.random.randint(100,size=(5))

array([55, 63, 99, 55, 96])

In [25]:
df_agrupado = df.groupby("ubicacion")

In [31]:
for grupo, datos in df_agrupado:
    print (grupo,datos)

Ciudad A              nombre              correo ubicacion
0        Juan Pérez    juan@example.com  Ciudad A
1         Ana López     ana@example.com  Ciudad A
4  Carmen Rodríguez  carmen@example.com  Ciudad A
Ciudad C           nombre             correo ubicacion
2   María García  maria@example.com  Ciudad C
3  Luis Martínez   luis@example.com  Ciudad C