# Proyecto del Día 8 - Análisis de Datos Meteorológicos

Este proyecto consiste en analizar un conjunto de datos meteorológicos utilizando Python y NumPy. 
El objetivo es aplicar las técnicas de manipulación de arrays, tratamiento de datos faltantes, 
y análisis estadístico básico en un conjunto de datos del mundo real.

## Tareas a Realizar:
1. Crear un DataFrame a partir de los datos del archivo **datos_meteorologicos.csv** provisto en esta lección.
2. Realizar observaciones iniciales de los datos con Pandas.
3. Convertir las columnas del DataFrame en arrays de NumPy.
4. Identificar los datos faltantes en los arrays, y reemplazarlos por el promedio de los valores del respectivo array.
5. Realizar análisis estadísticos básicos. Mínimamente se espera que puedas extraer la siguiente información de tus arrays:
    * La temperatura promedio
    * El total de precipitaciones
    * La máxima humedad registrada
    * La fecha más calurosa
    * La fehca más fría
6. Exportar los resultados a un nuevo archivo CSV.

¡Mucha suerte con tu proyecto!

### 1. Crear un DataFrame a partir de los datos del archivo datos_meteorologicos.csv provisto en esta lección.

In [124]:
import pandas as pd
import numpy as np
import time
df = pd.read_csv('datos_meteorologicos.csv')

### 2. Realizar observaciones iniciales de los datos con Pandas.

In [125]:
#2.1 info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fecha          5110 non-null   object
 1   Temperatura    4855 non-null   float64
 2   Precipitación  4855 non-null   float64
 3   Humedad        4855 non-null   float64
dtypes: float64(3), object(1)
memory usage: 159.8+ KB

In [126]:
# 2.2. Head
df.head(10)

        Fecha  Temperatura  Precipitación    Humedad
0  01/01/2010    17.440675      10.957482  52.384637
1  02/01/2010    25.759468       5.315628  30.633530
2  03/01/2010    20.138169      15.317706  41.496715
3  04/01/2010    17.244159      13.151008  90.684704
4  05/01/2010    11.182740      16.413667  22.116422
5  06/01/2010    22.294706      13.359970  29.415165
6  07/01/2010    11.879361       9.038980  15.462342
7  08/01/2010          NaN            NaN        NaN
8  09/01/2010    38.183138       1.112009  57.646964
9  10/01/2010     9.172076       6.158725  52.688831

In [127]:
#2.3. describe
df.describe()

       Temperatura  Precipitación      Humedad
count  4855.000000    4855.000000  4855.000000
mean     14.889296       9.901604    54.359061
std      14.440466       5.801842    26.096345
min      -9.996378       0.003008    10.014980
25%       2.651777       4.756907    31.866578
50%      14.693274       9.853698    54.254478
75%      27.381451      14.966997    77.029500
max      39.998201      19.999559    99.996582

In [128]:
# 2.1. Arreglar las fechas de formato string a formato datetime
df["Fecha"] = pd.to_datetime(df["Fecha"],format="%d/%m/%Y")
df["Fecha"]

0      2010-01-01
1      2010-01-02
2      2010-01-03
3      2010-01-04
4      2010-01-05
          ...
5105   2023-12-24
5106   2023-12-25
5107   2023-12-26
5108   2023-12-27
5109   2023-12-28
Name: Fecha, Length: 5110, dtype: datetime64[ns]

### 3. Convertir las columnas del DataFrame en arrays de NumPy.

In [129]:
tspan = pd.Series(df["Fecha"]).to_numpy()
t = pd.Series(df["Temperatura"]).to_numpy()
p = pd.Series(df["Precipitación"]).to_numpy()
h = pd.Series(df["Humedad"]).to_numpy()

### 4. Identificar los datos faltantes en los arrays, y reemplazarlos por el promedio de los valores del respectivo array.

In [131]:
t_no_nans = np.where(np.isnan(t),np.nanmean(t),t)
p_no_nans = np.where(np.isnan(p),np.nanmean(p),p)
h_no_nans = np.where(np.isnan(h),np.nanmean(h),h)

### 5. Realizar análisis estadísticos básicos.

##### Temperatura promedio

In [144]:
t_x = np.mean(t_no_nans)
print(f"Mean temperature {t_x: .3f}")

Mean temperature  14.889

##### Total de precipitaciones

In [145]:
p_sum = np.sum(p_no_nans)
print(f"Total precipitation {p_sum: .3f}")

Total precipitation  50597.194

##### Máxima humedad registrada

In [143]:
h_Max = np.max(h_no_nans)
print(f"Max air hum % {h_Max: .3f} ")

Max air hum %  99.997

##### Fecha más calurosa

In [146]:
idx = t_no_nans.argmax()
t_max = np.max(t_no_nans)
hottest_date = pd.to_datetime(tspan[idx]).strftime("%Y-%m-%d")
print(f"The hottest date was on {hottest_date} with a temperature of {t_max: .3f} ºC")

The hottest date was on 2017-07-12 with a temperature of  39.998 ºC

##### Fecha más fría

In [147]:
idx = t_no_nans.argmin()
t_min = np.min(t_no_nans)
coolest_date = pd.to_datetime(tspan[idx]).strftime("%Y-%m-%d")
print(f"The coolest date was on {coolest_date} with a temperature of {t_min: .3f} ºC")

The coolest date was on 2020-07-23 with a temperature of -9.996 ºC

### 6. Exportar los resultados a un nuevo archivo CSV.

In [137]:
df_no_nans = pd.DataFrame({
    "Date": pd.to_datetime(tspan).strftime("%Y/%m/%d"),
    "Temperature": pd.Series(t_no_nans),
    "Precipitation": pd.Series(p_no_nans),
    "Humidity": pd.Series(h_no_nans),
})
df_no_nans

            Date  Temperature  Precipitation   Humidity
0     2010/01/01    17.440675      10.957482  52.384637
1     2010/01/02    25.759468       5.315628  30.633530
2     2010/01/03    20.138169      15.317706  41.496715
3     2010/01/04    17.244159      13.151008  90.684704
4     2010/01/05    11.182740      16.413667  22.116422
...          ...          ...            ...        ...
5105  2023/12/24    -9.554692      12.700998  50.094533
5106  2023/12/25     2.837831       5.475686  92.456057
5107  2023/12/26    29.873597       4.615012  18.362847
5108  2023/12/27    14.889296       9.901604  54.359061
5109  2023/12/28    37.308043       7.330510  50.646211

[5110 rows x 4 columns]

In [138]:
df_no_nans.to_csv("Meteorological_data_Solution.csv",index=False)